@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RPG Duel Simulator</h1>
    <p>Make your character and find out their ability to fight on the arena!</p>

</div>
